Flask_Admin==1.5.6
Flask_Cors==3.0.9
marshmallow==3.8.0
SQLAlchemy==1.3.19
cryptography==2.8
Flask_SQLAlchemy==2.4.4
flask_marshmallow==0.14.0
Flask_Migrate==2.5.3
requests==2.22.0
Flask_Mail==0.9.1
alembic==1.4.3
Flask_Script==2.0.6
itsdangerous==1.1.0
Flask==1.1.2
Werkzeug==1.0.1
flask_praetorian==1.0.0
python-dotenv==0.14.0
requests
gunicorn==19.7.1
psycopg2-binary 
psycopg2